<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>First Api</title>
    <style>
        button:hover{
            background-color: #4CAF50;
            border: 1px solid black;
            cursor: pointer;
            font-weight: 600;
        }
    </style>
</head>
<body>
    <h1>Blogs</h1>
   
        <% for(post of post){ %>
            <div class="div"><h3>@ <%= post.name %></h3>
            <h4><%= post.content %></h4></div>
            <% } %>
    <a href="http://localhost:3000/posts/add"><button style="margin-bottom: 10px; border: none; border-radius: 10px; padding: 10px;">Add new post</button><br></a>

    
</body>
</html>