<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First page</title>
</head>
<body>
    <h1>Kashif ali</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, tenetur officia! Non assumenda sequi mollitia consequatur eius velit facere totam beatae repudiandae sed, ad quasi sit error aut tempore fuga.</p>
    <button>Click me</button>

</body>
</html>